name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_and_apk:
    name: "Local 25- tests and APKs"
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write
      security-events: write

    timeout-minutes: 59

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 23

      - name: Process Watcher 
        uses: cdsap/build-process-watcher@main
        with:
            remote_monitoring: 'true'
            backend_url: https://build-process-watcher-backend-staging-148219958728.us-central1.run.app
            frontend_url: https://process-watcher-staging-c5bd6.web.app
            collect_gc: true      

      - name: Check build-logic
        run: ./gradlew build
        env:
           DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_ACCESS_KEY }}
